<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name %></h1>
<ul>
  <% @related_restaurants.each do |r| %>
    <li><%= link_to r.name, restaurant_path(r) %></li>
  <% end %>
</ul>

<ul>
  <% @restaurant.tag_list.each do |tag| %>
    <li><%= tag %></li>
  <% end %>
</ul>
